/* 
         GENERAL
*/


.budget-container {
    width: 100%;
    height: 90%;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*
    BUDGET CONTENT LEFT SIDE
*/

.budget-toDo-left {
    width: 35%;
    height: 800px;
    border: 1px solid #fff;
}

.flex {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.add-income {
    border: 1px solid #fff;
}

.add-income input, .add-expensive input {
    color: #fff;
    width: 350px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid #fff;
}


/*
    BUDGET CONTENT RIGHT CONTENT
*/
.budget-main-content {
    width: 60%;
    height: 800px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.income-container {
    color: green;
    width: 50%;
    height: 100%;
    border: 1px solid pink;
   
}

.collection {
    padding-top: 50px;
    display: block;
    margin: 0 auto;
}



.collection li {
    padding-top: 25px;
    width: 80%;
    list-style: none;
    border-bottom: 1px solid #fff;
}


.expensive-container {
    color: red;
    width: 50%;
    height: 100%;
    border: 1px solid blueviolet;
}